{% for blog in blogs %}
<div class="container blog-container">
    <img
        class="blog-profile"
        src="{{ blog.author.profile.avatar.url }}"
        alt="profile-img"
    />
    <small>
        <a href="{% url 'user-profile' blog.author.id %}"
            >{{blog.author.profile.full_name}}</a
        >
    </small>
    <span>{{blog.created| date:"M j"}}</span>
    <h2>{{blog.title}}</h2>

    <p>{{blog}}... <a href="{% url 'blog' blog.id %}">view more</a></p>

    <a class="btn" href="{% url 'home' %}?q={{ blog.topic}}"
        ><small>{{blog.topic}}</small></a
    >

    {% if request.user == blog.author%}
    <a href="{% url 'update-blog' blog.id %}">Edit</a>
    <a href="{% url 'delete-blog' blog.id %}">Delete</a>
    {% endif %}
</div>

{% endfor %}
