{% for blog in blogs %}
<div class="container blog-container">
    <img
        class="blog-profile"
        src="{{ blog.author.profile.avatar.url }}"
        alt="profile-img"
    />
    <small>
        <a href="{% url 'user-profile' blog.author.id %}"
            >{{blog.author.profile.full_name}}</a
        >
    </small>
    <small>@{{user}}</small>
    <span>{{blog.created| date:"M j"}}</span>
    <h2>{{blog.title}}</h2>

    <p>{{blog}}... <a href="{% url 'blog' blog.id %}">view more</a></p>

    <div class="row">
        <div class="col-10">
            <a
                class="btn btn-outline-dark"
                href="{% url 'home' %}?q={{ blog.topic}}"
                ><small>{{blog.topic}}</small></a
            >
        </div>

        <div class="col-2">
            {% if request.user == blog.author%}

            <a href="{% url 'update-blog' blog.id %}">Edit</a>
            <a href="{% url 'delete-blog' blog.id %}">Delete</a>

            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
