{% extends 'main.html' %} {% block content %}
<div class="container authentication-container">
    <form action="" method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="username" class="form-label">User Name</label>
            <input
                type="username"
                class="form-control"
                name="username"
                aria-describedby="usernamehelp"
            />
            <div id="emailHelp" class="form-text">
                We'll never share your info with anyone else.
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
                type="password"
                class="form-control"
                name="password"
                aria-describedby="passwordhelp"
            />
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div class="not">
        <h3>Have not sign up yet?</h3>
        <div class="d-grid gap-2">
            <a class="btn btn-success" href="{% url 'register' %}">Register</a>
        </div>
    </div>
    {% endblock content %}
</div>
