{% extends 'main.html' %} {% block content %}

<div id="profile">
    <div class="container blog-container center">
        <img
            class="avatar"
            style="width: 200px; border-radius: 50%"
            src="{{ user.profile.avatar.url }}"
            alt="profile-img"
        />
        <h3>@{{user}}</h3>

        {% if request.user == user%}

        <a
            type="button"
            class="btn btn-secondary"
            href="{% url 'edit-profile' user.id %}"
            >Edit Profile</a
        >

        {% endif %}

        <p>{{ user.profile.bio }}</p>
    </div>

    <h3>See what @{{user}} writes</h3>
    {% include 'base/blog_component.html' %}
</div>

{% endblock %}
